{% extends "base_template.html" %}

{% block title %}Contact{% endblock %}


{% block nav %}
  <li><a href="{{ url_for('draw_people') }}">People</a></li>
  <li><a href="{{ url_for('draw_research') }}">Research</a></li>
  <li class="active"><a href="{{ url_for('draw_contact') }}">Contact<span class="sr-only">(current)</span></a></li>
{% endblock %}

<!-- Hero -->
{% block hero %}
<div class='container-fluid'>
  <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="page-header">
      <h1>Contact&nbsp;&nbsp;<small>drop us a line</small></h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- contact info -->
  <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
    {{contact|safe}}
  </div>
</div>
{% endblock %}