{% extends "base_template.html" %}

{% block title %}Events{% endblock %}

{% block nav %}
  <li><a class="nav-text" href="{{ url_for('draw_index') }}">Home</a></li>
  <li><a class="nav-text" href="{{ url_for('draw_people') }}">People</a></li>
  <li><a class="nav-text" href="{{ url_for('draw_research') }}">Research</a></li>
  <li class="active"><a class="nav-text" href="{{ url_for('draw_events') }}">Events</a></li>
  <li><a class="nav-text" href="{{ url_for('draw_resources') }}">Resources</a></li>
{% endblock %}

{% block content %}
  <!-- reads all the events from the events table in the DB and prints them here -->
  <div class="span9">

    {% for item in events %}
      <div class="row-fluid">
        <div class="span12 story">
          <h2>{{ item['title'] }}</h2>
          <p>{{ item['text'] }}</p>
        </div>
      </div>
    {% endfor %}
      
  </div>

{% endblock %}