{% extends "base_template.html" %}

{% block title %}Home{% endblock %}


{% block nav %}
  <li><a href="{{ url_for('draw_people') }}">People</a></li>
  <li><a href="{{ url_for('draw_research') }}">Research</a></li>
  <li><a href="{{ url_for('draw_contact') }}">Contact</a></li>
{% endblock %}

<!-- Hero -->
{% block hero %}
<div class='container-fluid'>
  <img class='center-block' src="{{ url_for('static', filename='media/new_sdl_logo.png') }}">
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- lab info-->
  <div class="col-sm-7 col-md-7 col-lg-7 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    {{greeting|safe}}
  </div>

  <!--sidebar-->
  <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <h4> Recent news </h4>
  </div>
</div>
{% endblock %}