{% extends "base_template.html" %}

{% block title %}Home{% endblock %}


{% block nav %}
  <li><a href="{{ url_for('draw_people') }}">People</a></li>
  <li><a href="{{ url_for('draw_research') }}">Research</a></li>
  <li><a href="{{ url_for('draw_contact') }}">Contact</a></li>
{% endblock %}

<!-- Hero -->
{% block hero %}
<div class='container-fluid'>
  <img class='center-block' src="{{ url_for('static', filename='media/new_sdl_logo.png') }}">
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- lab info-->
  <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    {{greeting|safe}}
  </div>

  <!--sidebar-->
  <div class="col-sm-2 col-md-2 col-lg-2">
    {{recent|safe}}
  </div>
</div>
{% endblock %}