{% extends "base_template.html" %}

{% block title %}People{% endblock %}


{% block nav %}
  <li class="active"><a href="{{ url_for('draw_people') }}">People<span class="sr-only">(current)</span></a></li>
  <li><a href="{{ url_for('draw_research') }}">Research</a></li>
  <li><a href="{{ url_for('draw_contact') }}">Contact</a></li>
{% endblock %}

<!-- Hero -->
{% block hero %}
<div class='container-fluid'>
  <div class="col-sm-8 col-md-10 col-lg-10 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
    <div class="page-header">
      <h1>People&nbsp;&nbsp;<small>current members</small></h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- people info -->
  <!-- 3 categories: prof, grad, undergrad -->
  <div class="col-sm-8 col-md-8 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-1">
    <div class="page-header">
      <h2>Faculty</h2>
    </div>
    {% for prof in people.faculty %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
          <div class="well person-well">
            <div class="row">
              <div class="row-same-height">
                <div class="col-lg-1 hidden-sm hidden-md hidden-xs token">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-1 same-height-pic">
                  <img class="thumbnail" src="{{ url_for('static', filename='media/people/{}'.format(prof.picture)) }}">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-7 same-height-text">
                {{prof.md|safe}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-sm-8 col-md-8 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-1">
    <div class="page-header">
      <h2>Graduate Students</h2>
    </div>
    {% for i, grad_student in enumerate(people.grad) %}

      {% if i % 2 == 0 %}
      <div class="row">
      {% endif %}

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="well person-well">
          <div class="row">
            <div class="row-same-height">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 same-height-pic">
                <img class="thumbnail" src="{{ url_for('static', filename='media/people/{}'.format(grad_student.picture)) }}">
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 same-height-text">
              {{grad_student.md|safe}}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if i % 2 == 1 %}
      </div>
      {% endif %}

    {% endfor %}
  </div>

  <div class="col-sm-8 col-md-8 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-1">
    <div class="page-header">
      <h2>Undergraduate Students</h2>
    </div>
    {% for undergrad_student in people.undergrad %}
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="media well">
          <div class="media-left media-middle">
            {% if undergrad_student.picture != 'nothing' %}
              <img class="thumbnail" src="{{ url_for('static', filename='media/people/{}'.format(undergrad_student.picture)) }}">
            {% else %}
              <img class="thumbnail" src="http://placehold.it/100x100">
            {% endif %}
          </div>
          <div class="media-body">
            {{undergrad_student.md|safe}}
          </div>
        </div>
      </div>
    {% endfor %}

{% endblock %}