{% extends "base_template.html" %}

{% block title %}People{% endblock %}


{% block nav %}
  <li class="active"><a href="{{ url_for('draw_people') }}">People<span class="sr-only">(current)</span></a></li>
  <li><a href="{{ url_for('draw_research') }}">Research</a></li>
  <li><a href="{{ url_for('draw_contact') }}">Contact</a></li>
{% endblock %}

<!-- Hero -->
{% block hero %}
<div class='container-fluid'>
  <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <div class="page-header">
      <h1>People&nbsp;&nbsp;<small>current and former</small></h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- people info -->
  <!-- 2 categories: current and former -->
  
  <!-- current students -->
  <div class="col-sm-10 col-md-8 col-lg-10 col-sm-offset-1 col-md-offset-2 col-lg-offset-1">
    <div class="page-header">
      <h2>Current Members</h2>
    </div>
    {% for member in people.current %}

      {% if loop.index0 % 2 == 0 %}
      <div class="row">
      {% endif %}

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="well person-well">
          <div class="row">
            <div class="row-same-height">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 same-height-pic">
                <img class="thumbnail" src="{{ url_for('static', filename='media/people/{}'.format(member.picture)) }}">
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 same-height-text">
              {{member.md|safe}}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if loop.index0 % 2 == 1 %}
      </div>
      {% elif loop.last %}
      </div>
      {% endif %}

    {% endfor %}
  </div>


  <!-- former students -->
  <div class="col-sm-10 col-md-8 col-lg-10 col-sm-offset-1 col-md-offset-2 col-lg-offset-1">
    <div class="page-header">
      <h2>Former Members</h2>
    </div>
    {% for member in people.former %}

      {% if loop.index0 % 2 == 0 %}
      <div class="row">
      {% endif %}

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="well person-well">
          <div class="row">
            <div class="row-same-height">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 same-height-pic">
                <img class="thumbnail" src="{{ url_for('static', filename='media/people/{}'.format(member.picture)) }}">
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 same-height-text">
              {{member.md|safe}}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if loop.index0 % 2 == 1 %}
      </div>
      {% elif loop.last %}
      </div>
      {% endif %}

    {% endfor %}
  </div>

</div>

{% endblock %}