{% extends "base_template.html" %}

{% block title %}People{% endblock %}


{% block nav %}
  <li class="active"><a href="{{ url_for('draw_people') }}">People<span class="sr-only">(current)</span></a></li>
  <li><a href="{{ url_for('draw_research') }}">Research</a></li>
  <li><a href="{{ url_for('draw_contact') }}">Contact</a></li>
{% endblock %}

<!-- Hero -->
{% block hero %}
<div class='container-fluid'>
  <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <div class="page-header">
      <h1>People&nbsp;&nbsp;<small>current members</small></h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- people info -->
  <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    {% for person in people %}
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="media">
          <div class="media-left media-middle">
            <img class="thumbnail" src="{{ url_for('static', filename='media/people/{}'.format(person.picture)) }}">
          </div>
          <div class="media-body">
            {{person.md|safe}}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}