.recent {
    padding-top:25px;
}

.header {
    margin-left: 0px;
    padding-left: 0px;
}

.headline {
    font-family: orbitron;
    font-size: 94px;
    color: #539BD6;
    letter-spacing: 0.07em;
    margin-left:-4px;
}

.embellish {
    font-size: 19px;
    color: #F8F8F8 ;
    margin-top: -35px;
}


.row-same-height {
    display: table;
    width: 100%;
    height: 180px;
}

.same-height-pic {
    display: table-cell;
    float: none !important;
    text-align: center;
    padding-top: 23px;
}

.same-height-pic-faculty {
    display: table-cell;
    float: none !important;
    text-align: center;
    padding-top: 2%;
    padding-left: 40px;
    padding-right: 0px;

}

.token {
    display: table-cell;
    float: none !important;
}

.same-height-text {
    display: table-cell;
    float: none !important;
    vertical-align: top;
    padding-left: 6px;
}

.same-height-text-faculty {
    display: table-cell;
    float: none !important;
    vertical-align: top;
    padding-left: 0px;
}

.head-container{
    padding-top: 17px;
}

.well {
    background-color: #F3F5F8;
}


.media {
    vertical-align: middle;
}

.jumbotron {
    height: 230px;
    margin-top: -20px;
    padding-top: 20px;
    padding-left: 0px;
    background: url(../media/UK.png) no-repeat center center black;
}

footer {
    margin-top: 25px;
}

.centered-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */
.navbar-default {
    background-color: #E3EBF3;
    border-color: #E3EBF3;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #0598EE;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #F7F7F8;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}



@media (max-width: 1150px) { 
    .image-clip{
        width:100%;
        height: auto;
        overflow:hidden;
    }
}

.image-vcent {
    margin-top:8px;
    margin-left: auto;
    margin-right; auto  
}

.person-hcent {
    margin-left: auto;
    margin-right; auto  
}

/* panel coloring */
.panel-default > .panel-heading {
    color: #333;
    background-color: #E3EBF3;
    border-color: #E3EBF3;
}

.panel {
    border-color: #E3EBF3;
}