body {
  padding-top: 0px;
  padding-bottom: 40px;
}

p {
  font-size: 14px;
  line-height: 1.1em;
}

.sidebar-nav {
  padding: 9px 0;
}

.hero-unit {
  color: gray;
}

.headline {
  width: 300px;
  font-family: Orbitron;
  font-size:92px;
  padding-bottom: 2%;
  z-index: 10;
  color: white;
  position: absolute;
  margin-left: 10%;
  margin-top: 150px;
}

.subheadline {
  font-size: 27px;
  padding-left: 2px;
}

.subheadline, .recent-pitch, p, .nav-text {
  font-family: 'Source Sans Pro', sans-serif;
}

.recent-header{
  text-align: center;
}

.recent-img {
  text-align:center;
}

.main {
  max-width: 980px;
  margin:auto;
}

.story {
  padding-left: 2%;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ECF0F1;

}

.story:hover {
}

.recent:hover {
  background: #ECF0F1;
}

.box {
  background-color: black;
  width: 100%;
  height: 50px;
  margin-top: 45px;
}

.sidebar-box {
  padding-left: 5%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 400px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 50px;
  margin-top: 125px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* CUSTOMIZE THE NAVBAR */

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change colors  */
.navbar .navbar-inner {
  border: 0;
  background-color: #444444;
  background-image: none;
  color: white;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

/*.affix {
  top: 50px;
} */

@media (max-width: 980px) {
      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 400;
      }
      .carousel img {
        width: auto;
        height: 400;
      }
}

@media (max-width: 767px) {
      .navbar-inner {
        margin: -20px;
      }
      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
}